main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main section h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main section textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid #ccc;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 5px solid #000000;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  height: 60px; /* Adjust the height as needed */
  padding-top: 20px; /* Adjust the padding to move text to the bottom */
  box-sizing: border-box; /* Include padding in the total height */
  background-color: inherit;
}

main section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 15px;
}

main section div button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

main section div output {
  font-family: 'Bungee', sans-serif;
}

/* Style the tweet */
main .tweet {
  margin-top: 2em;
  border: 5px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

main .tweet:hover {
  /* Apply box-shadow on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main .tweet header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

main .tweet header img {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

main .tweet header .user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 30px;
}

/* Style the tweet content */
main .tweet-content {
  margin: 10px 0;
}

/* Style the footer within the tweet */
main .tweet footer {
  display: flex;
  justify-content: space-between;
  color: #888;
}

main .tweet footer .actions a {
  text-decoration: none;
  color: #888;
  margin-right: 10px;
}

main .tweet footer .actions a:hover {
  /* Change icon color on tweet hover */
  color: #007bff; /* Change to your desired hover color */
}

main .tweet footer .actions i {
  margin-right: 5px;
}